.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    /* height: 100vh; */
}

.all_contain {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.left {
    padding: 6rem;
    width: 49rem;
    /* background-color: #12c2e969; */

}

.right {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    /* background-color: rebeccapurple; */
}


.top h1 {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    transition: 1.5s;
    z-index: 1000;
    /* margin-top: 10rem; */
}

.top {
    padding: 0.5rem;
}

.middle {
    padding: 0.5rem;
}

.middle p {
    color: var(--like-white-color);
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 999;
}

.bottom {
    padding: 0.5rem;

}

.download_cv {
    background-color: #ff293752;
    padding: 1.5rem;
    /* width: 5rem; */
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--like-white-color);
    cursor: pointer;
    border-radius: 1rem;

}

.download_cv:hover {
    background-color: #ff293752;
}

.download_cv:focus {
    outline: 2px solid #c03a43;
}

.watch {
    margin-left: 1rem;
    /* background-color: rgba(0, 128, 0, 0.365); */
    padding: 1.5rem;
    /* width: 5rem; */
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(235, 222, 222, 0.813);
    cursor: pointer;
    border-radius: 1rem;
    outline: 2px solid rgba(0, 128, 0, 0.365);


}

.watch::after {
    content: ">>";
}



.me {
    width: 36rem;
    height: 26rem;
    z-index: 1000;
    /* clip-path: polygon(50% 0%, 100% 20%, 100% 75%, 50% 100%, 0% 75%, 0% 20%); */
}


.shadow {
    background: linear-gradient(#12c2e969, #f64f5a7b);
    width: 22rem;
    position: absolute;
    height: 100vh;
    right: 10%;
    border-radius: 20rem;
    transform: rotate(35deg);
    z-index: 1;


}

.extra {
    color: var(--dark-green);
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 2px 1px rgba(0, 128, 0, 0.623);


}


/* responive */
@media screen and (max-width: 1698px) {
    .left {
        /* background-color: red; */
    }
    
    .top h1 {
        font-size: 1.3rem;
    }

    .extra {
        font-size: 3rem;
    }
}

@media screen and (max-width: 1647px) {
    .left {
        width: 30rem;
    }
}

@media screen and (max-width: 1425px) {
    .right {
        width: 30rem;
        /* background-color: red; */
        height: 26rem
    }

    .img_me {
        width: 100%;
        height: 100%;
    }

    .me {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1272px) {
 .extra {
    font-size: 2rem;
 }
 .right {
    width: 25rem;
    height: 24rem;
 }

}
@media screen and (max-width: 1181px) {
    .all_contain {
        display: flex;
        flex-direction: column;
    }
    
    .right {
        width: 36rem;
    }
}

@media screen and (max-width: 598px) {
    .left p {
        font-size: 1rem;
    }

    .download_cv {
        width: 8.5rem;
        font-size: 0.8rem;
    }

    .watch {
        width: 8rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 590px) {
    .left p {
        font-size: 0.8rem;
    }
    .left h1 {
        font-size: 1rem;
    }
    .extra {
        font-size: 1.6rems;
    }

    .download_cv {
        width: 8.5rem;
        font-size: 0.8rem;
    }

    .watch {
        width: 8rem;
        font-size: 0.8rem;
    }

    .right {
        width: 27rem;
        height: 20rem;
    }
    
}

@media screen and (max-width: 484px) {
    .left p {
        font-size: 0.8rem;
    }
    .left h1 {
        font-size: 1rem;
    }
    .extra {
        font-size: 1.6rems;
    }

    .download_cv {
        width: 8.5rem;
        font-size: 0.8rem;
    }

    .watch {
        width: 8rem;
        font-size: 0.8rem;
    }

    .right {
        width: 27rem;
        height: 20rem;
    }
    
}


@media screen and (max-width: 543px) {
    .left {
        text-align: center;
        /* background-color: red; */
        height: 10rem;
    }
    .left p {
        font-size: 0.8rem;
    }
    .left h1 {
        font-size: 1rem;
    }
    .extra {
        font-size: 1.6rem;
    }

    .download_cv {
        width: 8.5rem;
        font-size: 0.8rem;
    }

    .watch {
        width: 8rem;
        font-size: 0.8rem;
    }

    .right {
        width: 27rem;
        height: 20rem;
    }
    
}


@media screen and (max-width: 529px) {
    .left {
        justify-content: center;
        align-items: center;
    }
    .middle {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-wrap: wrap;
        font-size: 0.8rem;
        width: 80%;
      
        /* background-color: red; */
    }
   
    .left {
        text-wrap: wrap;
    }
}

@media screen and (max-width: 377px) {
    .right {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin-top: 0.5rem;
       
    }
    .img_me {
        text-align: center;
    }
   .me {
    width: 17rem;
    height: 14rem;
   }
}



