.products {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
}

.product_choose_free {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid {
    width: 100vw;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.free_use {
    background-color: pink;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    cursor: pointer;

}




.pro_in_sell {
    background-color: black;
    color: white;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    cursor: pointer;

}

.pro_in_sell:hover {
    background-color: rgba(0, 0, 0, 0.678);

}

.free_use:hover {
    background-color: rgba(255, 192, 203, 0.678);

}

.pro_in_sell:focus {
    border: 2px solid brown;
}

.search {
    padding: 2rem;
}

.search input {
    padding: 1rem;
    border: none;
    font-size: 1.3rem;
    outline: 2px solid rgba(0, 0, 255, 0.523)
}

.search input:active {
    outline: 2px solid brown;
}

.search input:focus {
    outline: 2px solid brown;
}