.navs {
    position: sticky;
    bottom: 0;

}

.all_navs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.navbars {
    display: flex;

}

.nav_a {
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 0.6rem;
    border-radius: 0.5rem;

}

.nav_a::after {
    content: "";
}

.nav_a:hover {
    color: var(--dark-green);
    background-color: #00cffe;

}

.nav_a:focus {
    border: 1px dashed var(--dark-green);
}

.nav {
    margin-left: 1rem;
    list-style-type: none;
}

.logo .logoImage {
    background-color: transparent;
    height: 7rem;
    width: 7rem;
    mix-blend-mode: color-burn;
}

.open_CONTACT {
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;

}