.all_navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.navbars {
    display: flex;

}

.nav_a {
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 0.6rem;
    border-radius: 0.5rem;

}

.nav_a::after {
    content: "";
}

.nav_a:hover {
    color: var(--dark-green);
    background-color: #00cffe;

}

.nav_a:focus {
    border: 1px dashed var(--dark-green);
}

.nav {
    margin-left: 1rem;
    list-style-type: none;
}

.logo .logoImage {
    background-color: transparent;
    height: 3rem;
    width: 3rem;
    mix-blend-mode: color-burn;
    border-radius: 50%;
}

.open_CONTACT {
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
    display: none;
}


/* responsive */
@media screen and (max-width: 628px) {
    .navbars {
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: black;
        left: 0;
        top: 0;
        height: 100vh;
        /* height: 21rem; */
        /* justify-content: center; */
        align-items: center;
        z-index: 1000;
        transform: translateX(-20rem);
        
    }

    .navbars::after {
        content: "codehons";
        color: white;
        position: absolute;
        bottom: 50%;
        text-transform: uppercase;  
        font-weight: bold;
        color: #00cffe;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }
    .open_CONTACT {
        display: block;
    }

   
    .nav {
        margin: 1.2rem;
    }
    .nav_a {
        margin: 2rem;
    }
    
    

}

.show_nav {
    transform: translateX(0rem);

}