/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --like-white-color: rgba(235, 222, 222, 0.813);
  --lite-green: rgba(0, 128, 0, 0.365);
  --dark-green: rgba(0, 128, 0, 0.623);
}



* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
}

body:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.one {
  /* height: 100%; */
  width: 100%;
  background: linear-gradient(#12C2E9, #F64F59);
  height: fit-content;
  overflow: hidden;

}

main {
  overflow: hidden;
}

header {
  /* background: linear-gradient(#12C2E9, #12C2E9); */
  background: linear-gradient(#12c2e9cd, #12C2E9);
}


.mid {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 90rem;


}

#mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90rem;


}

footer {
  background-color: black;

  /* height: 10rem; */
}

.codehons {
  color: #F64F59;
  font-size: 1.4rem;
  font-weight: bold;
}

/* Add these styles to your global or component-specific CSS */
.light-spot {
  position: fixed;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.667);
  pointer-events: none;
  z-index: 9999;
  transition: background-color 0.3s ease;
  -webkit-box-shadow: 23px -13px 279px 59px rgb(249, 249, 249);
  -moz-box-shadow: 23px -13px 279px 59px rgba(140, 92, 140, 1);
  box-shadow: 23px -13px 279px 59px rgb(255, 255, 255);
}

.what {
  background: linear-gradient(black, rgba(191, 121, 191, 1));

  height: 100vh;
}